Repository prescottprue/fireadmin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Functions Unit Tests, Build Docs, Deploy Docs

Path conditions:
  Functions Unit Tests: any of: functions/**/*, firebase.json, .gitlab-ci.yml
  Build Docs: any of: docs/**/*, firebase.json, .gitlab-ci.yml
  Deploy Docs: any of: docs/**/*, firebase.json, .gitlab-ci.yml

Cleanup lint
  .gitlab-ci.yml
  functions/src/callGoogleApi/callGoogleApi.js
  functions/test/unit/actionRunner.spec.js
  src/containers/Navbar/Navbar.styles.js
  src/routes/Account/components/AccountForm/AccountForm.js
  src/routes/ActionTemplate/components/ActionTemplateForm/ActionTemplateForm.enhancer.js
  src/selectors/projectSelectors.js
Due: Functions Unit Tests, Build Docs, Deploy Docs

Switch to yarn for improved install speeds (especially in docs)
  .gitlab-ci.yml
  docs/src/components/SidebarItem/SidebarItem.js
  docs/src/components/layout.js
  package-lock.json
  package.json
  yarn.lock
Due: Functions Unit Tests, Build Docs, Deploy Docs

Switch components to named functions
  docs/gatsby-config.js
  src/components/CollectionSearch/CollectionSearch.js
  src/components/CollectionSearch/ResultsList.js
  src/components/CollectionSearch/SearchResults.js
  src/components/CollectionSearch/SuggestedItem.js
  src/components/LoadingSpinner/LoadingSpinner.js
  src/components/OutlinedTextField/OutlinedTextField.js
  src/components/TabContainer/TabContainer.js
  src/components/UsersList/UsersList.js
  src/components/UsersList/UsersList.scss
  src/components/UsersSearch/ResultsList.js
  src/components/UsersSearch/SuggestedUser.js
  src/components/UsersSearch/UsersSearch.js
  src/components/VersionChangeReloader/VersionChangeReloader.enhancer.js
  src/containers/App/App.js
  src/containers/Navbar/AccountMenu.js
  src/containers/Navbar/LoginMenu.js
  src/containers/Navbar/Navbar.js
  src/layouts/CoreLayout/CoreLayout.js
  src/layouts/SidebarLayout/SidebarLayout.js
  src/layouts/SidebarLayout/SidebarList.js
  src/modules/notification/components/Notifications.js
  src/modules/notification/reducer.js
  src/routes/Account/components/AccountForm/AccountForm.js
  yarn.lock
Due: Build Docs, Deploy Docs

Lock firepad version. Handle no posts in docs.
  .gitlab-ci.yml
  docs/src/components/PostsList/PostsList.js
  package.json
  yarn.lock
Due: Functions Unit Tests, Build Docs, Deploy Docs

More cleanup from docs and skip failing ui test [ci skip]
  cypress/integration/Project/Environments.spec.js
  firebase.json
Due: Functions Unit Tests, Build Docs, Deploy Docs

fix(core): fix build by removing more of the leftover build stuff from docs
  .gitlab-ci.yml
  functions/package-lock.json
  functions/package.json
  functions/yarn.lock
  package.json
Due: Functions Unit Tests, Build Docs, Deploy Docs

Start embeded docs.
  build/webpack.config.js
  docs/docs/README.md
  docs/docs/adding-to-these-docs.md
  docs/index.md
  docs/patterns/README.md
  docs/patterns/adding-a-feature.md
  docs/patterns/cloud-functions.md
  docs/patterns/file-structure.md
  docs/testing/README.md
  docs/testing/cloud-functions-tests.md
  docs/testing/ui-tests.md
  docs/testing/vanilla-js-tests.md
  package.json
  src/constants.js
  src/index.html
  src/routes/Docs/components/DocsPage/DocsPage.enhancer.js
  src/routes/Docs/components/DocsPage/DocsPage.js
  src/routes/Docs/components/DocsPage/DocsPage.styles.js
  src/routes/Docs/components/DocsPage/index.js
  src/routes/Docs/index.js
  src/routes/index.js
  yarn.lock
Due: Build Docs, Deploy Docs

Add data-test attributes to events page and switch styling to js
  .gitlab-ci.yml
  cypress/fixtures/fakeEvent.json
  cypress/integration/Project/ActionRunner.spec.js
  cypress/integration/Project/Environments.spec.js
  cypress/integration/Project/Events.spec.js
  cypress/support/commands.js
  cypress/utils/index.js
  package.json
  src/containers/Navbar/Navbar.js
  src/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.enhancer.js
  src/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.js
  src/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.scss
  src/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.styles.js
  src/routes/Project/routes/ProjectEvents/components/EventsTable/NoProjectEvents.js
  src/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/NoProjectEvents.js
  src/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.enhancer.js
  src/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.js
  src/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.scss
  src/theme.js
Due: Functions Unit Tests, Build Docs, Deploy Docs

Remove last of scss from ProjectEventsPage. Switch events table to using a selector.
  src/routes/Project/routes/Permissions/components/RolesTable/RolesTable.js
  src/routes/Project/routes/Permissions/components/RolesTableRow/RolesTableRow.js
  src/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.enhancer.js
  src/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.enhancer.js
  src/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.js
  src/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.scss
  src/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.styles.js
  src/selectors/projectSelectors.js
  src/theme.js
Due: none

v0.8.4 (#76)
  .gitlab-ci.yml
  cypress/fixtures/fakeEvent.json
  cypress/integration/Project/ActionRunner.spec.js
  cypress/integration/Project/Environments.spec.js
  cypress/integration/Project/Events.spec.js
  cypress/support/commands.js
  cypress/utils/index.js
  package.json
  src/containers/Navbar/Navbar.js
  src/routes/Project/routes/Permissions/components/RolesTable/RolesTable.js
  src/routes/Project/routes/Permissions/components/RolesTableRow/RolesTableRow.js
  src/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.enhancer.js
  src/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.js
  src/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.scss
  src/routes/Project/routes/ProjectEvents/components/EventsTable/EventsTable.styles.js
  src/routes/Project/routes/ProjectEvents/components/EventsTable/NoProjectEvents.js
  src/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/NoProjectEvents.js
  src/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.enhancer.js
  src/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.js
  src/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.scss
  src/routes/Project/routes/ProjectEvents/components/ProjectEventsPage/ProjectEventsPage.styles.js
  src/selectors/projectSelectors.js
  src/theme.js
Due: Functions Unit Tests, Build Docs, Deploy Docs

dynamic sidebar causes browser crash
  package.json
  src/main.js
  src/routes/Docs/components/DocsPage/DocsPage.enhancer.js
  src/routes/Docs/components/DocsPage/DocsPage.js
  src/routes/Docs/components/DocsSideBar/DocsSideBar.enhancer.js
  src/routes/Docs/components/DocsSideBar/DocsSideBar.js
  src/routes/Docs/components/DocsSideBar/DocsSideBar.styles.js
  src/routes/Docs/components/DocsSideBar/index.js
  src/routes/Docs/components/DocsSideBarItem/DocsSideBarItem.enhancer.js
  src/routes/Docs/components/DocsSideBarItem/DocsSideBarItem.js
  src/routes/Docs/components/DocsSideBarItem/DocsSideBarItem.styles.js
  src/routes/Docs/components/DocsSideBarItem/index.js
  src/utils/loadFiles.js
  yarn.lock
Due: none

Docs and home point to eachother
  .firebaserc
  .gitlab-ci.yml
  docs/.env.development
  docs/content/pages/patterns/cloud-functions.md
  docs/content/pages/patterns/file-structure.md
  docs/src/components/PostsList/PostsList.js
  docs/src/components/layout.js
  src/constants.js
  src/containers/Navbar/LoginMenu.js
  src/containers/Navbar/Navbar.js
  src/containers/Navbar/Navbar.scss
  src/containers/Navbar/Navbar.styles.js
Due: Functions Unit Tests, Build Docs, Deploy Docs

Add eslintconfig for docs
  .eslintignore
  docs/.eslintignore
  docs/.eslintrc.js
  docs/src/components/SidebarItem/SidebarItem.js
Due: Build Docs, Deploy Docs

Add seperate lint commands for each target (app, functions, tests, and docs)
  .gitlab-ci.yml
  package.json
Due: Functions Unit Tests, Build Docs, Deploy Docs

Fix typo in when param of ci config
  .firebaserc
  .gitlab-ci.yml
Due: Functions Unit Tests, Build Docs, Deploy Docs

Add root install to functions and docs steps in ci config
  .gitlab-ci.yml
Due: Functions Unit Tests, Build Docs, Deploy Docs

Remove remaining lock file. Try removing untracked.
  .gitlab-ci.yml
  package-lock.json
Due: Functions Unit Tests, Build Docs, Deploy Docs

Add Guides section. Sort Sidebar items. Remove unnessesary code.
  .gitlab-ci.yml
  README.md
  docs/content/docs/README.md
  docs/content/docs/adding-to-these-docs.md
  docs/content/guides/README.md
  docs/content/guides/initial-setup.md
  docs/content/patterns/README.md
  docs/content/patterns/adding-a-feature.md
  docs/content/patterns/file-structure.md
  docs/content/posts/2017-01-03-code-highlighting-post/cover.png
  docs/content/posts/2017-01-03-code-highlighting-post/index.md
  docs/content/posts/2018-01-03-Big-Sample-Post/index.md
  docs/content/testing/README.md
  docs/content/testing/cloud-functions-tests.md
  docs/content/testing/ui-tests.md
  docs/content/testing/vanilla-js-tests.md
  docs/data/siteConfig.js
  docs/gatsby-config.js
  docs/gatsby-node.js
  docs/package.json
  docs/src/components/Footer/Footer.css
  docs/src/components/Footer/Footer.js
  docs/src/components/Footer/FooterColumn.js
  docs/src/components/Footer/FooterItem.js
  docs/src/components/SidebarItem/SidebarItem.enhancer.js
  docs/src/components/SidebarItem/SidebarItem.js
  docs/src/components/layout.js
  docs/src/constants/paths.js
  docs/src/pages/404.js
  docs/src/pages/Home.js
  docs/src/pages/index.js
  docs/src/templates/blog-post.js
  docs/src/templates/page.js
  docs/src/templates/tags.js
  docs/yarn.lock
  package.json
Due: Functions Unit Tests, Build Docs, Deploy Docs

Cleanup lint [ci skip]
  docs/src/components/SidebarItem/SidebarItem.enhancer.js
  package.json
Due: Build Docs, Deploy Docs

More lint cleanup - not sure why pre-push hook not working?
  docs/src/components/SidebarItem/SidebarItem.js
Due: Build Docs, Deploy Docs

More content updates. Fix lockfile.
  docs/content/patterns/file-structure.md
  docs/content/testing/cloud-functions-tests.md
  docs/content/testing/ui-tests.md
  package.json
  yarn.lock
Due: Build Docs, Deploy Docs

Update icons. Rename patterns folder.
  docs/content/patterns/README.md
  docs/content/source/README.md
  docs/content/source/adding-a-feature.md
  docs/content/source/file-structure.md
  docs/content/testing/cloud-functions-tests.md
  docs/content/testing/ui-tests.md
  docs/src/components/SidebarItem/SidebarItem.enhancer.js
  docs/src/components/SidebarItem/SidebarItem.js
  docs/src/utils/index.js
Due: Build Docs, Deploy Docs

Remove priority from gatsby-node settings
  docs/gatsby-node.js
Due: Build Docs, Deploy Docs

Remove gatsby-plugin-feed
  .gitlab-ci.yml
  docs/gatsby-config.js
  docs/package.json
  docs/src/utils/index.js
  docs/yarn.lock
Due: Functions Unit Tests, Build Docs, Deploy Docs

Add back utils removed from cypress folder.
  .gitlab-ci.yml
  cypress/utils/index.js
  docs/README.md
Due: Functions Unit Tests, Build Docs, Deploy Docs

More docs content updates
  docs/content/testing/cloud-functions-tests.md
Due: Build Docs, Deploy Docs

Cleanup issue templates [ci skip]
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  docs/package.json
Due: Build Docs, Deploy Docs

Fix environment tests to actually upload service account and confirm data in Firestore
  cypress/integration/Project/Environments.spec.js
  cypress/support/commands.js
  cypress/utils/commands.js
  package.json
  src/modules/notification/components/Notifications.js
  src/routes/Project/routes/Environments/components/FilesUploader/FilesUploader.js
  src/routes/Project/routes/Environments/components/Instance/Instance.js
  yarn.lock
Due: none

fix comment wording [ci skip]
  cypress/integration/Project/Environments.spec.js
Due: none

Environment UI Tests (#79)
  cypress/integration/Project/Environments.spec.js
  cypress/support/commands.js
  cypress/utils/commands.js
  package.json
  src/modules/notification/components/Notifications.js
  src/routes/Project/routes/Environments/components/FilesUploader/FilesUploader.js
  src/routes/Project/routes/Environments/components/Instance/Instance.js
  yarn.lock
Due: none

Merge branch 'master' into docs [ci skip]
  cypress/integration/Project/Environments.spec.js
  cypress/support/commands.js
  cypress/utils/commands.js
  package.json
  src/modules/notification/components/Notifications.js
  src/routes/Project/routes/Environments/components/FilesUploader/FilesUploader.js
  src/routes/Project/routes/Environments/components/Instance/Instance.js
  yarn.lock
Due: none

fix(ci): point to correct deploy command
  .gitlab-ci.yml
Due: Functions Unit Tests, Build Docs, Deploy Docs

fix(ci): add check-files flag to ui tests install command (Cypress was not available in last run)
  .gitlab-ci.yml
Due: Functions Unit Tests, Build Docs, Deploy Docs

v0.8.4
  .firebaserc
  package.json
  yarn.lock
Due: none

fix(ci): seperate targets for docs/app on each environment
  .firebaserc
  .gitlab-ci.yml
  firebase.json
  package.json
Due: Functions Unit Tests, Build Docs, Deploy Docs

fix(ci): point to correct project for docs deploy
  .firebaserc
  .gitlab-ci.yml
Due: Functions Unit Tests, Build Docs, Deploy Docs
